.coverpolitica {
  background-image: url("../../images/cover-landing.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 60svh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 2rem;
  z-index: 0;
}

.coverlanding > * {
  position: relative;
  z-index: 2;
}

.coverlanding::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fafafa);
  z-index: 1;
  pointer-events: none;
}

.principalpolitica {
  padding-top: 10rem;

  &__title {
    font-family: $fontfamily-title;
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: -1.5rem;
    padding-left: 0.5rem;

    @include tablet {
      font-size: 2.5rem;
      padding-left: 2rem;
    }

    @include desktop {
      font-size: 3rem;
      padding-left: 4rem;
    }
  }

  &__subtitle {
    font-family: $fontfamily-title;
    font-weight: 900;
    font-size: 2.2rem;
    color: black;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;

    @include tablet {
      font-size: 2.5rem;
      padding-left: 2rem;
    }

    @include desktop {
      font-size: 3rem;
      padding-left: 4rem;
    }
  }
}

.politica {
  text-align: start;
  padding-top: 5rem;
  padding-inline: 2rem;
  padding-bottom: 4rem;
  font-family: $fontfamily-main;
  font-weight: 600;

  @include tablet {
    margin-inline: 5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 auto;
    color: #666;

    @include tablet {
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
}
