.quiensoy {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__title {
    font-family: $fontfamily-title;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: $primary-color;
    text-align: center;
  }

  &__subtitle2 {
    font-family: $fontfamily-main;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__img {
    width: 25rem;
    border: 2px solid $primary-color;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 0.5rem;
    
    i {
    font-size: 1.5rem;
    color: $primary-color;
  }
  }
}
