.quiensoy {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;

  @include tablet {
    padding-inline: 4rem;
    padding-top: 4rem;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    padding-left: 7rem;

    &__content {
      flex: 1;
      margin-right: 2rem;

      .quiensoy__title,
      .quiensoy__subtitle,
      .quiensoy__text {
        text-align: left;
        margin-inline: 0;
      }
    } 

    &__media {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: -9rem;
    }
  }

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.8rem;
    color: black;

    @include tablet {
      font-size: 2.2rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }

    i {
      color: $red-color;
    }
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: $orange-color;
    text-align: center;
    line-height: 1.7rem;

    @include tablet {
      font-size: 1.5rem;
      margin-inline: 5rem;
    }

    @include desktop {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }

  &__text {
    font-family: $fontfamily-main;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #666;
    margin-inline: 1.5rem;

    @include tablet {
      font-size: 1.3rem;
      margin-inline: 7rem;
      margin-bottom: 3rem;
    }
    
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__img {
    width: 22rem;
    border: 2px solid $yellow-color;
    border-radius: 2rem;
    margin-top: 1rem;

    &:hover {
    transform: translateY(-5px);
    }

    @include tablet {
     width: 25rem;
    }

    @include desktop {
     width: 27rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.3rem;
    
    i {
    font-size: 1.4rem;
    color: $orange-color;

      @include tablet {
        font-size: 1.6rem;
      }

      @include desktop {
        font-size: 1.8rem;
      }

      &:hover {
      transform: translateY(-5px);
      }
    }
  }
}
