.quiensoy {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;

  @include tablet {
    padding-inline: 4rem;
    padding-top: 4rem;
  }

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    color: black;

    @include tablet {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    i {
      color: $red-color;
    }
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $orange-color;
    text-align: center;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__text {
    font-family: $fontfamily-main;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    text-align: center;
    color: #666;

    @include tablet {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      padding-inline: 2rem;
    }
  }

  &__img {
    width: 20rem;
    border: 2px solid $yellow-color;
    border-radius: 2rem;
    margin-top: 1rem;

    &:hover {
    transform: translateY(-5px);
    }

    @include tablet {
      margin-top: 1.6rem;
      width: 22rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.3rem;
    
    i {
    font-size: 1.2rem;
    color: $orange-color;

      @include tablet {
        font-size: 1.4rem;
      }

      &:hover {
      transform: translateY(-5px);
      }
    }
  }
}
