.servicios-resumen {
  padding: 1rem 2rem;
  background-color: #fafafa;
  text-align: center;

  @include tablet {
    padding-inline: 4rem;
    padding-top: 3rem;
  }
}

.servicios-resumen .contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.servicios-resumen h2 {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  font-family: $fontfamily-title;
  color: black;

  i {
    color: $yellow-color;
  }

  @include tablet {
    font-size: 1.8rem;
  }
}

.servicios-resumen .intro {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: $orange-color;
  font-family: $fontfamily-main;

  @include tablet {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.servicios-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

  @include tablet {
    .servicios-grid {
      flex-direction: row;
      justify-content: space-between;
    }
  }

.bloque-servicio {
  flex: 1;
  background-color: #f9f9f9;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: solid 1px $yellow-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  text-align: left;
  margin-top: 1rem;

  &:hover {
    transform: translateY(-5px);
  }
}

.bloque-servicio h3 {
  font-size: 1rem;
  font-family: $fontfamily-main;
  font-weight: 900;
  margin-bottom: 1rem;
  color: black;

  @include tablet {
    font-size: 1.1rem;
  }
}

.bloque-servicio ul {
  list-style: none;
  padding-left: 0;
}

.bloque-servicio li {
  margin-bottom: 0.5rem;
  font-family: $fontfamily-main;
  font-size: 0.9rem;
  color: #666;
  position: relative;
  padding-left: 1.2rem;
}

.bloque-servicio li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: $yellow-color;
}

.btn-servicios {
  display: inline-block;
  font-family: $fontfamily-main;
  font-weight: 900;
  font-size: 0.9rem;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background-color: $yellow-color;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;

  @include tablet {
    font-size: 1rem;
  }

  i {
    color: white;
    transition: color 0.3s ease;
    padding-left: 0.3rem;
  }

  &:hover {
    background-color: $orange-color;
    color: white;
    box-shadow: 0 0.5px 20px #565656;
    padding-right: 2rem;

    i {
      color: white;
      transform: translateX(6px);
    }
  }
}

.btn-servicios:hover {
  background-color: $orange-color;
}
