.valores {
  padding: 1rem 3rem;
  background-color: #fafafa;
}

.valores .contenedor {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: $fontfamily-main;
}

.valores h2 {
  font-family: $fontfamily-title;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: black;

  @include tablet {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }

  i {
    color: $orange-color;
  }
}

.valores .intro {
  font-family: $fontfamily-main;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: $orange-color;
  line-height: 1.7rem;
  margin-bottom: 3rem;

  @include tablet {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-inline: 5rem;
  }

  @include desktop {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}

.valores-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;

  @include tablet {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }

  @include desktop {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
  }
}

.valor {
  background-color: white;
  border-radius: 10px;
  border: 1px solid $yellow-color;
  padding: 1.5rem 1.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
  justify-self: center;
  max-width: 330px;

  &:hover {
    transform: translateY(-5px);
  }
}

.valor .icono {
  font-size: 2.3rem;
  margin-bottom: 1rem;

  @include tablet {
    font-size: 2.5rem;
  }
}

.valor h3 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
  font-family: $fontfamily-main;
  color: #222;

  @include tablet {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.valor p {
  font-size: 1.2rem;
  color: #666;
}