.valores {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.valores .contenedor {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: $fontfamily-main
}

.valores h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: $fontfamily-title;
  color: black;
}

.valores .intro {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: $orange-color;
  font-family: $fontfamily-main;
  font-weight: 900;
}

.valores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.valor {
  background-color: white;
  border-radius: 10px;
  border: 1px solid $yellow-color;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.valor .icono {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.valor h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: $fontfamily-main;
  color: #222;
}

.valor p {
  font-size: 1rem;
  color: #666;
}