.valores {
  padding: 1rem 2rem;
  background-color: #f9f9f9;
}

.valores .contenedor {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: $fontfamily-main;
}

.valores h2 {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  font-family: $fontfamily-title;
  color: black;

  i {
    color: $orange-color;
  }
}

.valores .intro {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: $orange-color;
  font-family: $fontfamily-main;
  font-weight: 900;
}

.valores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  
}

.valor {
  background-color: white;
  border-radius: 10px;
  border: 1px solid $yellow-color;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 1rem;

  &:hover {
    transform: translateY(-5px);
  }
}

.valor .icono {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.valor h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: $fontfamily-main;
  color: #222;
}

.valor p {
  font-size: 0.9rem;
  color: #666;
}