.coverservices {
  background-image: url("../../images/cover-services.png");
  background-size: cover;
  background-position: 25%;
  background-repeat: no-repeat;
  min-height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 2rem;
  z-index: 0;

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    color: white;
    font-size: 2.2rem;
    top: -2rem;

    @include tablet {
      font-size: 2.5rem;
      padding-left: 2rem;
    }

    @include desktop {
      font-size: 3rem;
      padding-left: 4rem;
    }
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    margin-right: 5rem;
    top: -5rem;
    margin-bottom: 0.2rem;

    @include tablet {
      font-size: 1.7rem;
      margin-right: 15rem;
      padding-left: 2rem;
    }

    @include desktop {
      font-size: 2rem;
      padding-left: 4rem;
      top: -6rem;
    }
  }
}

.coverservices > * {
  position: relative;
  z-index: 2;
}

.coverservices::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fafafa);
  z-index: 2;
  pointer-events: none;
}
