.coverproject {
  background-image: url("../../images/cover-project.png");
  background-size: cover;
  background-position: 35%;
  background-repeat: no-repeat;
  min-height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 2rem;
  z-index: 0;

  @include tablet {
    background-position: 5%;
  }

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    color: white;
    font-size: 2.3rem;
    top: -2rem;

    @include tablet {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 3rem;
    color: white;
    top: -5rem;

    @include tablet {
      font-size: 1.5rem;
      margin-right: 12rem;
      top: -6.5rem;
    }
  }
}

.coverproject > * {
  position: relative;
  z-index: 2;
}

.coverproject::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fafafa);
  z-index: 2;
  pointer-events: none;
}