.coverproject {
  background-image: url("../../images/cover-project.png");
  background-size: cover;
  background-position: 44%;
  background-repeat: no-repeat;
  min-height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 2.5rem;
  z-index: 0;

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    color: white;
    font-size: 4rem;
    top: -3.8rem;
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 600;
    font-size: 1.3rem;
    margin-right: 9rem;
    color: white;
    top: -3.8rem;
  }
}

.coverproject > * {
  position: relative;
  z-index: 2;
}

.coverproject::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fafafa);
  z-index: 2;
  pointer-events: none;
}