.contactform {
  background-color: #fafafa;
  padding: 4rem 2.5rem;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;

    label {
      font-weight: 600;
      font-family: $fontfamily-main;
      font-weight: 800;
      font-size: 1.1rem;
      color: #222;

      @include tablet {
        font-size: 1.3rem;
      }
    }

    input,
    textarea {
      padding: 0.8rem 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: $fontfamily-main;
      font-size: 0.9rem;
      resize: vertical;

      @include tablet {
        font-size: 1.2rem;
      }

      &:focus {
        outline: none;
        border-color: $orange-color;
        box-shadow: 0 0 0 2px rgba($orange-color, 0.2);
      }
    }

    button {
      position: relative;
      font-family: $fontfamily-main;
      color: $orange-color;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.7rem;
      background-color: transparent;
      border: solid 2px $orange-color;
      text-decoration: none;
      border-radius: 5px;
      transition: all 0.3s ease;
      display: inline-block;
      cursor: pointer;

      @include tablet {
        font-size: 1.3rem;
      }

      i {
        color: $orange-color;
        transition: color 0.3s ease;
        padding-left: 0.3rem;
      }

      &:hover {
        background-color: $orange-color;
        color: white;
        box-shadow: 0 0.5px 20px #565656;
        padding-right: 2rem;

        i {
          color: white;
          transform: translateX(6px);
        }
      }
    }
  }
}

.contactinfo {
  background-color: #fafafa;
  padding: 0.3rem 2.3rem;
  text-align: center;
  padding-bottom: 4rem;

  h2 {
    font-family: $fontfamily-title;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    li a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: #f0f0f0;
      color: $orange-color;
      text-decoration: none;
      font-size: 1.3rem;
      transition: background 0.3s, color 0.3s;

      @include tablet {
        font-size: 1.5rem;
      }
    }

    li a:hover {
      background: #333;
      color: #fff;
    }
  }
}
