$fontfamily-title: "Rammetto One", sans-serif;
$fontfamily-main: "Quicksand", sans-serif;
$fontfamily-pages: "Bowlby One", sans-serif;

$yellow-color: #f8ad19;
$orange-color: #f07e14;
$red-color: #e34526;