.contactform {
  background-color: #fafafa;
  padding: 4rem 2.5rem;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;

    label {
      font-weight: 600;
      font-family: $fontfamily-main;
      font-weight: 800;
      font-size: 1.1rem;
      color: #222;
    }

    input,
    textarea {
      padding: 0.8rem 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: $fontfamily-main;
      font-size: 1rem;
      resize: vertical;

      &:focus {
        outline: none;
        border-color: $orange-color;
        box-shadow: 0 0 0 2px rgba($orange-color, 0.2);
      }
    }

    button {
      position: relative;
      font-family: $fontfamily-main;
      color: $orange-color;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.7rem;
      background-color: transparent;
      border: solid 2px $orange-color;
      text-decoration: none;
      border-radius: 5px;
      transition: all 0.3s ease;
      display: inline-block;
      cursor: pointer;

      i {
        color: $orange-color;
        transition: color 0.3s ease;
        padding-left: 0.3rem;
      }

      &:hover {
        background-color: $orange-color;
        color: white;
        box-shadow: 0 0.5px 20px #565656;
        padding-right: 2rem;

        i {
          color: white;
          transform: translateX(6px);
        }
      }
    }
  }
}

.contactinfo {
  background-color: #fafafa;
  padding: 3rem 2.5rem;
  text-align: center;
  padding-bottom: 4rem;

  h2 {
    font-family: $fontfamily-title;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-family: $fontfamily-main;
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.8rem;

      a {
        color: #666;
        text-decoration: none;

        &:hover {
          color: $yellow-color;
        }
      }

      i {
        color: $orange-color;
        font-size: 1.2rem;
      }
    }
  }
}
