.coverpage {
  background-image: url("../../images/cover-cards.png");
  background-size: cover;
  background-position: 35%;
  background-repeat: no-repeat;
  min-height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 2.5rem;
  z-index: 0;

  &__title {
    font-family: $fontfamily-title;
    font-weight: 100;
    color: black;
    font-size: 4rem;
  }

  &__subtitle {
    font-family: $fontfamily-main;
    font-weight: 600;
    font-size: 1.3rem;
    color: $orange-color;
    margin-right: 5rem;
  }
}

.coverpage > * {
  position: relative;
  z-index: 2;
}

.coverpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Puedes ajustar la opacidad */
  z-index: 2;
}

.coverpage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fafafa);
  z-index: 2;
  pointer-events: none;
}
