.mch-footer {
  background-color: #1a1a1a;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer-top {
  max-width: 900px;
  margin: 0 auto;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-title {
  font-family: $fontfamily-title;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
}

.contact-btn {
  font-family: $fontfamily-main;
  font-weight: 900;
  font-size: 0.9rem;
  background-color: transparent;
  color: white;
  padding: 0.7rem 1.5rem;
  border: solid 1px white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s;

  i {
    color: white;
    transition: color 0.3s ease;
    padding-left: 0.3rem;
  }

  &:hover {
    color: $yellow-color;
    box-shadow: 0 0.5px 10px #565656;
    padding-right: 2rem;

    i {
      color: $yellow-color;
      transform: translateX(6px);
    }
  }
}

.contact-btn:hover {
  background-color: #f0f0f0;
}

hr {
  border: 0;
  border-top: 1px solid #444;
  margin: 2rem 0;
}

.footer-desc {
  font-family: $fontfamily-main;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-inline: 0.5rem;
}

.social-icons a {
  color: white;
  margin: 0 0.3rem;
  font-size: 1rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: $yellow-color;
}

.contact-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  font-family: $fontfamily-main;
  font-weight: 400;
  color: #666;
  font-size: 0.8rem;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  border: solid 1px white;
}

.contact-form button {
  font-family: $fontfamily-main;
  font-weight: 900;
  font-size: 0.9rem;
  text-align: start;
  background-color: white;
  color: black;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  i {
    font-size: 1.2rem;
    color: black;
  }

   &:hover {
    color: $yellow-color;
    box-shadow: 0 0.5px 10px #565656;
    padding-right: 2rem;

    i {
      color: $yellow-color;
      transform: translateX(6px);
    }
  }
}

.footer-bottom {
  font-family: $fontfamily-main;
  font-weight: 600;
  font-size: 0.7rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}

/* Logo giratorio */
.footer-logo--spin {
  width: 5rem;
  height: auto;
  animation: spinY 4s linear infinite;
  transform-origin: center center;
  display: block;
  margin-left: 0;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.contact-form {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.contact-form.visible {
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
}
