.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  &.header--scrolled {
    background-color: #fafafa;
  }

  a {
    text-decoration: none;
  }

  &__logo {
    width: 55%;
    padding: 1rem;
    margin-left: 0.5rem;
  }

  &__box2 {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex; 
    gap: 1.5rem; 
    list-style: none;
    margin-right: 1.5rem;
    padding: 0;
    font-family: $fontfamily-main;
    font-size: 1.2rem;

    li {
      //color: $red-color;
      font-weight: 600;
      cursor: pointer;
    }
  }
}