.header {
  background-color: #801b71;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 35%;
    padding: 1rem;
    margin-left: 0.5rem;
  }

  &__box2 {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex; 
    gap: 1.5rem; 
    list-style: none;
    margin-right: 1.5rem;
    padding: 0;
    font-family: $fontfamily-main;
    font-size: 1rem;

    li {
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
  }
}