<main>
  <section class="cover">
    <div class="principal">
      <h1 class="principal__title">MCH Studio</h1>
      <h2 class="principal__subtitle">Full Stack Developer & Estratega Digital</h2>
      <h3 class="principal__subtitle2">Diseño de marca y branding digital para potenciar tu negocio</h3>
    </div>
    <div class="link">
      <a href="index.html" class="link__btn">¿Conectamos?
        <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </section>
  <section class="quiensoy">
    <h2 class="quiensoy__title">¡Hola!</h2>
    <h3 class="quiensoy__subtitle">Mi nombre es Marta y transformo ideas en experiencias digitales atractivas y funcionales.</h3>
    <p class="quiensoy__subtitle2">Soy <strong>Desarrolladora Web Full Stack</strong> con experiencia en JavaScript, React.js, Node.js, Express y MySQL. 
      Me especializo en crear soluciones web escalables que potencian la presencia en línea de las marcas, sean del tamaño que sean.</p>
    <p class="quiensoy__subtitle2">Mi pasión por el desarrollo web se combina con una sólida <strong>experiencia en estrategia digital, 
      branding y gestión de redes sociales</strong>. Esta sinergia me permite construir plataformas eficientes y asegurar que resuenen 
      y refuercen la identidad de tu marca.</p>
    <img src="../images/MCH-Studio-Photo.png" alt="Fotografía de Marta" class="quiensoy__img"/>
    <div class="quiensoy__icons">
      <i class="fi fi-brands-photoshop" title="Photoshop"></i>
      <i class="fi fi-brands-illustrator" title="Illustrator"></i>
      <i class="fi fi-brands-indesign" title="InDesign"></i>
      <i class="fi fi-brands-premiere" title="Premiere"></i>
      <i class="fi fi-brands-xd" title="Xd"></i>
      <i class="fi fi-brands-photoshop-lightroom" title="Lightroom"></i>
      <i class="fi fi-brands-github" title="GitHub"></i>
      <i class="fi fi-brands-html5" title="HTML"></i>
      <i class="fi fi-brands-css3-alt" title="CSS"></i>
      <i class="fi fi-brands-js" title="JavaScript"></i>
      <i class="fi fi-brands-node-js" title="Node-JS"></i>
      <i class="fi fi-brands-mysql" title="MySQL"></i>
    </div>
  </section>
</main>