@import 'core/variables';
@import 'layout/header';
@import 'landing/cover';
@import 'landing/quiensoy';
@import 'landing/valores';
@import 'landing/servicios';
@import 'landing/clientes';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}