@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';
@import 'landing/cover';
@import 'landing/quiensoy';
@import 'landing/valores';
@import 'landing/servicios';
@import 'landing/clientes';
@import 'pages/coverpage';
@import 'pages/services';
@import 'pages/covercontact';
@import 'pages/contact';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}