@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';
@import 'landing/coverlanding';
@import 'landing/quiensoy';
@import 'landing/valores';
@import 'landing/servicios';
@import 'landing/clientes';
@import 'services/coverservices';
@import 'services/services';
@import 'contact/covercontact';
@import 'contact/contact';
@import 'projects/coverproject';
@import 'projects/projects';
@import 'projects/project-detail';
@import 'projects/ejemplos-redes';
@import 'politica/politica';

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

html {
  font-size: 80%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #fafafa;
}